services:
  postgres_internal:
    image: postgres:17.7-alpine
    container_name: postgres-internal-container
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_INTERNAL_USER}
      POSTGRES_PASSWORD: ${POSTGRES_INTERNAL_PASSWORD}
      POSTGRES_DB: ${POSTGRES_INTERNAL_DB}
    volumes:
      - ${POSTGRES_INTERNAL_DATA_PATH}:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432"
    networks:
      - shared-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_INTERNAL_USER} -d ${POSTGRES_INTERNAL_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres:
    image: postgres:17.7-alpine
    container_name: postgres-business-container
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ${POSTGRES_DATA_PATH}:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - shared-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.4-alpine
    container_name: redis-container
    restart: always
    ports:
      - "6379:6379"
    networks:
      - shared-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  trino:
    image: trinodb/trino:440
    container_name: trino-container
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "${TRINO_PORT:-8085}:8080"
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /gcp-credentials/gcp-gcs-credentials.json
      GCP_PROJECT_ID: ${GCP_PROJECT_ID}
    volumes:
      - ${TRINO_CATALOG_PATH}:/etc/trino/catalog:ro
      - ${TRINO_SQL_PATH}:/trino-sql:ro
      - ${GOOGLE_APPLICATION_CREDENTIALS}:/gcp-credentials/gcp-gcs-credentials.json:ro
      - ${TRINO_DATA_PATH}:/data
    networks:
      - shared-network
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/v1/info || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    command: /usr/lib/trino/bin/run-trino

  airflow-init:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow-init-container
    depends_on:
      postgres_internal:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_INTERNAL_USER}:${POSTGRES_INTERNAL_PASSWORD}@postgres_internal/${POSTGRES_INTERNAL_DB}
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW_FERNET_KEY}
    command: >
      bash -c "
        airflow db init &&
        airflow users create --username ${AIRFLOW_ADMIN_USERNAME} --password ${AIRFLOW_ADMIN_PASSWORD} --firstname Admin --lastname User --role Admin --email admin@example.com
      "
    networks:
      - shared-network
    volumes:
      - ${AIRFLOW_DATA_PATH}:/opt/airflow

  airflow:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: apache-airflow-container
    restart: always
    depends_on:
      postgres_internal:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_INTERNAL_USER}:${POSTGRES_INTERNAL_PASSWORD}@postgres_internal/${POSTGRES_INTERNAL_DB}
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW_FERNET_KEY}
      DOCKER_HOST: unix:///var/run/docker.sock
    volumes:
      - ${AIRFLOW_DATA_PATH}:/opt/airflow
      - ${AIRFLOW_DAGS_PATH}:/opt/airflow/dags
      - ${AIRFLOW_LOGS_PATH}:/opt/airflow/logs
      - ${AIRFLOW_PLUGINS_PATH}:/opt/airflow/plugins
      - /var/run/docker.sock:/var/run/docker.sock
      - ${TRINO_SQL_PATH}:/trino-sql:ro
      - ${DBT_WORKSPACE_PATH}:/dbt-workspace:ro
      - ${GOOGLE_APPLICATION_CREDENTIALS}:/gcp-credentials/gcp-gcs-credentials.json:ro
    ports:
      - "${AIRFLOW_PORT}:8080"
    command: >
      bash -c "
        export DOCKER_API_VERSION=1.44 &&
        airflow db upgrade &&
        airflow webserver --port 8080
      "
    networks:
      - shared-network
    #user: "0:0"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  airflow-scheduler:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: airflow-scheduler-container
    restart: always
    depends_on:
      postgres_internal:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_INTERNAL_USER}:${POSTGRES_INTERNAL_PASSWORD}@postgres_internal/${POSTGRES_INTERNAL_DB}
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW_FERNET_KEY}
      DOCKER_HOST: unix:///var/run/docker.sock
      DOCKER_API_VERSION: "1.44"
    volumes:
      - ${AIRFLOW_DATA_PATH}:/opt/airflow
      - ${AIRFLOW_DAGS_PATH}:/opt/airflow/dags
      - ${AIRFLOW_LOGS_PATH}:/opt/airflow/logs
      - ${AIRFLOW_PLUGINS_PATH}:/opt/airflow/plugins
      - /var/run/docker.sock:/var/run/docker.sock
      - ${TRINO_SQL_PATH}:/trino-sql:ro
      - ${DBT_WORKSPACE_PATH}:/dbt-workspace:ro
      - ${GOOGLE_APPLICATION_CREDENTIALS}:/gcp-credentials/gcp-gcs-credentials.json:ro
    command: airflow scheduler
    networks:
      - shared-network
    #user: "0:0"

  python:
    image: python:3.12-slim
    container_name: python-dbt-container
    restart: unless-stopped
    volumes:
      - ${DBT_WORKSPACE_PATH}:/dbt-workspace
      - ./requirements-dbt.txt:/tmp/requirements-dbt.txt
      - ${DBT_PROJECTS_PATH}:/dbt-workspace/dbt-projects
    working_dir: /dbt-workspace
    command: >
      bash -c "
        pip install --upgrade pip &&
        pip install -r /tmp/requirements-dbt.txt &&
        echo 'Python and DBT environment is ready!' &&
        echo 'You can access it with: docker exec -it python-dbt-container bash' &&
        tail -f /dev/null
      "
    networks:
      - shared-network

  superset-init:
    image: apache/superset:6.0.0-dev
    container_name: superset-init-container
    depends_on:
      postgres_internal:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      SUPERSET_SECRET_KEY: ${SUPERSET_SECRET_KEY}
      SQLALCHEMY_DATABASE_URI: postgresql+psycopg2://${POSTGRES_INTERNAL_USER}:${POSTGRES_INTERNAL_PASSWORD}@postgres_internal:5432/${SUPERSET_DB}
      SUPERSET_CONFIG_PATH: /app/pythonpath/superset_config.py
      REDIS_HOST: redis
      REDIS_PORT: 6379
    user: "root"
    volumes:
      - ./superset-config:/app/pythonpath
    command: >
      bash -c "
        sleep 15 &&
        echo '=== Installing Snowflake connector ===' &&
        pip install --no-cache-dir snowflake-sqlalchemy==1.8.2 snowflake-connector-python==4.2.0 &&
        echo '=== Starting Superset Initialization ===' &&
        echo 'Database URI: postgresql+psycopg2://${POSTGRES_INTERNAL_USER}:*****@postgres_internal:5432/${SUPERSET_DB}' &&
        superset db upgrade &&
        superset fab create-admin --username admin --firstname Superset --lastname Admin --email admin@superset.com --password admin &&
        superset init &&
        echo '=== Superset Initialization Complete ==='
      "
    networks:
      - shared-network

  superset:
    image: apache/superset:6.0.0-dev
    container_name: superset-container
    restart: always
    depends_on:
      postgres_internal:
        condition: service_healthy
      redis:
        condition: service_healthy
      superset-init:
        condition: service_completed_successfully
    environment:
      SUPERSET_SECRET_KEY: ${SUPERSET_SECRET_KEY}
      SQLALCHEMY_DATABASE_URI: postgresql+psycopg2://${POSTGRES_INTERNAL_USER}:${POSTGRES_INTERNAL_PASSWORD}@postgres_internal:5432/${SUPERSET_DB}
      SUPERSET_CONFIG_PATH: /app/pythonpath/superset_config.py
      REDIS_HOST: redis
      REDIS_PORT: 6379
    user: "root"
    volumes:
      - ${SUPERSET_DATA_PATH}:/app/superset_home
      - ./superset-config:/app/pythonpath
    ports:
      - "${SUPERSET_PORT}:8088"
    command: >
      bash -c "
        echo '=== Installing Snowflake connector ===' &&
        pip install --no-cache-dir snowflake-sqlalchemy==1.8.2 snowflake-connector-python==4.2.0 &&
        echo '=== Starting Superset Server ===' &&
        gunicorn --bind '0.0.0.0:8088' --workers 4 --timeout 120 --limit-request-line 0 --limit-request-field_size 0 'superset.app:create_app()'
      "
    networks:
      - shared-network
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8088/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

networks:
  shared-network:
    driver: bridge